/* Demi Added These */
body {
  overflow-x: hidden;
}

.portfolio-tab {
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #a2a5ab;
  display: flex;

  margin: 5px;
}

.plain-link {
  text-decoration: none;
  border: 0 !important;
  color: #b11f24;
  transition: text-decoration 0.2s ease-in-out;

  &:hover {
    color: #b11f24;
    text-decoration: underline;
  }
}

.social-media-icon-link {
  text-decoration: none;
  border: 0 !important;
  color: #525050;
  transition: text-decoration 0.2s ease-in-out;

  &:hover {
    color: #b11f24;
  }
}

.max-height-200 {
  display: flex;
  height: 60%;
}

.custom-box {
  padding: 20px;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #525050;
  display: flex;
  flex-direction: column;
  height: 100%; 

  &:hover {
    background-color: #b11f24;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;

  }
}

.custom-box-text {
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: #fff;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #525050;
  height: 100%; 

  &:hover {
    background-color: #b11f24;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;

  }
}

.custom-text {
  font-weight: 900;
  text-transform: uppercase;
  color: #787878;

}

.custom-box-link {
  text-decoration: none;
  color: #fff !important;
  padding: 20px;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #525050;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: background-color 500ms ease-in-out;
}

.custom-box-link:hover {
  background-color: #b11f24;
  color: #fff !important;
}

.custom-btn-1 {
  padding: 15px;
  background-color: #fff;
  color: #b11f24;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  box-shadow: 2px 2px 5px #525050;
  border: 1px solid transparent; /* Reserve space for border */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

  
}

.custom-btn-1:hover {
  background-color: #b11f24;
  color: #fff;
  box-shadow: 2px 2px 5px #525050;
  border: #fff solid 1px;
}

.custom-btn-2 {
  padding: 15px;
  background-color: #b11f24;         /* Inverted background */
  color: #fff;                       /* White text */
  font-weight: 700;                  /* Slightly lighter weight */
  text-transform: uppercase;
  border: 1px solid #fff;            /* Visible border from the start */
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  box-shadow: 1px 1px 4px #3a3a3a;   /* Slightly softer shadow */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.custom-btn-2:hover {
  background-color: #fff;            /* Invert on hover */
  color: #b11f24;
  border-color: #b11f24;
  box-shadow: 2px 2px 6px #3a3a3a;   /* Slightly deeper shadow on hover */
}

.filter-btn {
  padding: 5px;
  background-color: #fff;
  color: #b11f24;
  font-weight: 900;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: fit-content;
  box-shadow: 2px 2px 5px #525050;
  border: 1px solid transparent; /* Reserve space for border */
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

}

.filter-btn:hover {
  background-color: #b11f24;
  color: #fff;
  box-shadow: 2px 2px 5px #525050;
  border: #fff solid 1px;
}

.filter-btn.active {
  background-color: #b11f24;
  color: #fff;
}

/* .filter-item {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.filter-item.hidden {
  opacity: 0;
} */





.img-container {
  width: 100%; /* Adjust width as needed */
  max-width: 600px; /* Set a max width for the container */
  height: 400px; /* Set a fixed height for the container */
  overflow: hidden; /* Ensures content doesn't spill outside */
  display: flex;
  justify-content: center; /* Centers images horizontally */
  align-items: center; /* Centers images vertically */
}

.img-container img {
  max-width: 100%; /* Image will scale down to fit the container width */
  max-height: 100%; /* Image will scale down to fit the container height */
  object-fit: contain; /* Ensures the entire image fits within the container */
}


.logo-container {

  display: flex;
  /* max-width: 75%; */
  padding-top: 5px;
}

@media (max-width: 700px) {
  .logo-container {
    width: 70%;         /* Adjust width as needed */
    align-items: center;     /* Center them horizontally */
  }
}

@media (max-width: 500px) {
  .logo-container {
    width: 50%;         /* Adjust width as needed */
    align-items: center;     /* Center them horizontally */
  }
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
}

::placeholder {
  color: #000 !important;
  opacity: 1; /* Firefox */
}


.color-red{
  color: #b11f24;
}

.white-box {
  padding: 5px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #525050;

}

.sticky-navbar {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #525050;
  position: sticky;
  top: 20px;
  z-index: 99;

}

.nav-links {
  display: flex;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 20px;

  li {
    padding: 0;
  }
}

.nav-item {
  font-weight: bolder;
  text-decoration: none !important;
  color: #b11f24;

  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  transition: border 0.3s ease-in-out;;

  &:hover {
    color: #b11f24 !important;
    border: 1px solid #b11f24;

  }
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
  background-color: #b11f24 !important;

}

/* FLoating Action Button */

.fab {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ffffff; /* White background */
  border-radius: 50%;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fab:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.fab-image {
  width: 70%; /* Adjust size as needed */
  height: auto;
}

.uppercaseText {
  text-transform: uppercase;
}

.custom-hover {
  transition: transform 0.3s ease; /* Smooth transition */
  
  &:hover {
    transform: scale(1.05); /* Scales up by 5% */
  }
}

.unique-heading {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;

}

.unique-heading-1 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  margin: 0px;

}

.unique-heading-2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-style: italic;

}

.unique-heading-sub {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  text-transform: none;
  color: #fff;
  font-size: 14px;
  font-weight: bold;

}

.biggerText {

  font-weight: 900;

}

.unique-line {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}

.hero-container {
  align-items: center;
}

.hero-heading {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  color: #fff;
  font-size: 80px;
  margin: 0px;
  text-align: center;

}

.hero-sub-heading {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  font-size: 25px;
  margin: 0px;
  text-align: center;
}

@media (max-width: 700px) {
  .hero-heading {
    font-size: 60px;   /* Center them horizontally */
  }
}

@media (max-width: 500px) {
  .hero-heading {
    font-size: 40px;   /* Center them horizontally */
  }
}