/* Demi Added These */
.portfolio-tab {
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #a2a5ab;
  display: flex;

  margin: 5px;
}

.plain-link {
  text-decoration: none;
  border: 0 !important;
  color: #b11f24;
  transition: text-decoration 0.2s ease-in-out;

  &:hover {
    color: #b11f24;
    text-decoration: underline;
  }
}

.max-height-200 {
  display: flex;
  height: 60%;
}

.custom-box {
  padding: 20px;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #525050;
  display: flex;
  flex-direction: column;
  height: 100%; 

  &:hover {
    background-color: #b11f24;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;

  }
}

.custom-box-text {
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
  color: #fff;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  box-shadow: 2px 2px 2px #525050;
  height: 100%; 

  &:hover {
    background-color: #b11f24;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;

  }
}

.custom-box-link {
  text-decoration: none;
  color: #fff !important;
  padding: 20px;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  box-shadow: 5px 5px 5px #525050;
  display: flex;
  flex-direction: column;
  height: 100%; 

  &:hover {
    background-color: #b11f24;
    -webkit-transition: background-color 500ms ease-in-out;
    -ms-transition: background-color 500ms ease-in-out;
    transition: background-color 500ms ease-in-out;
    color: #fff !important;

  }
}


.img-container {
  width: 100%; /* Adjust width as needed */
  max-width: 600px; /* Set a max width for the container */
  height: 400px; /* Set a fixed height for the container */
  overflow: hidden; /* Ensures content doesn't spill outside */
  display: flex;
  justify-content: center; /* Centers images horizontally */
  align-items: center; /* Centers images vertically */
}

.img-container img {
  max-width: 100%; /* Image will scale down to fit the container width */
  max-height: 100%; /* Image will scale down to fit the container height */
  object-fit: contain; /* Ensures the entire image fits within the container */
}


.logo-container {

  display: flex;
  /* max-width: 75%; */
  padding-top: 5px;
}


.swiper-button-next, .swiper-button-prev {
  color: #fff !important;
}

::placeholder {
  color: #000 !important;
  opacity: 1; /* Firefox */
}


.color-red{
  color: #b11f24;
}

.sticky-navbar {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 5px 5px 5px #525050;
  position: sticky;
  top: 20px;
  z-index: 99;

}

.nav-links {
  display: flex;
  justify-content: space-between;

  list-style: none;

  margin: 0;
  padding: 20px;

  li {
    padding: 0;
  }
}

.nav-item {
  font-weight: bolder;
  text-decoration: none !important;
  color: #b11f24;

  padding: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  transition: border 0.3s ease-in-out;;

  &:hover {
    color: #b11f24 !important;
    border: 1px solid #b11f24;

  }
}

.swiper-pagination-bullet .swiper-pagination-bullet-active {
  background-color: #b11f24 !important;

}

/* FLoating Action Button */

.fab {
  position: fixed;
  z-index: 99;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: #ffffff; /* White background */
  border-radius: 50%;
  box-shadow: 0 5px 9px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.fab:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.fab-image {
  width: 70%; /* Adjust size as needed */
  height: auto;
}

.uppercaseText {
  text-transform: uppercase;
}

.custom-hover {
  transition: transform 0.3s ease; /* Smooth transition */
  
  &:hover {
    transform: scale(1.05); /* Scales up by 5% */
  }
}