/* Demi Added These */
.portfolio-tab {
  font-size: 14px;
  padding: 5px;
  border-radius: 10px;
  border: 2px solid #a2a5ab;
  display: flex;

  margin: 5px;
}

.plain-link {
  text-decoration: none;
  border: 0 !important ;
}

.max-height-200 {
  display: flex;
  height: 60%;
}

.custom-box {
  padding: 20px;
  background-color: rgb(24, 23, 23);
  border-radius: 10px;
  box-shadow: 10px 10px 5px #525050;

  &:hover {
    background-color: #b11f24;

  }
}